<div class="container pt-3">
    <form action="" class="" [formGroup]="ticketForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="container bg-dark-subtle p-3 rounded">


            <div class="row">
                <div class="col-6 col-md-6">
                    <div class="row mb-3">
                        <label for="tracker" class="col-md-6 col-form-label">
                            Tracker
                        </label>
                        <div class="row">
                            <div class="col-12">
                                <input class="form-select" id="tracker" list="tracker-option" formControlName="tracker"
                                    placeholder="Select tracker" autocomplete="off" (input)="validTracker()">

                                <datalist id="tracker-option">
                                    <!-- <option value="New Request"></option>
                                    <option value="Support"></option> -->
                                    <option *ngFor="let option of trackerOptions" [value]="option"></option>
                                </datalist>

                                <div class="text-danger" *ngIf="invalidTracker">
                                    no data found
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-6">
                    <div class="row mb-3">
                        <label for="subject" class="col-md-6 col-form-label">
                            Subject
                        </label>
                        <div class="row">
                            <div class="col-12">
                                <input type="text" class="form-control" id="subject" formControlName="subject"
                                    placeholder="Enter Subject">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Description section -->

            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="row mb-3">
                        <label for="description" class="col-md-12 col-form-label">
                            Description
                        </label>
                        <div class="row">
                            <div class="col-12">
                                <textarea name="" id="description" class="form-control rounded-3" required rows="5"
                                    formControlName="description" placeholder="Enter Description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- status and start-date section -->

            <div class="row">
                <div class="col-6 col-md-6">
                    <div class="row mb-3">
                        <label for="status" class="col-md-6 col-form-label">
                            Status
                        </label>
                        <div class="row">
                            <div class="col-12">
                                <input class="form-select" list="status-option" (input)="validStatus()"
                                    formControlName="status" placeholder="Select Status" autocomplete="off">
                                <datalist id="status-option">
                                    <!-- <option value="New"></option>
                                    <option value="In Progress"></option>
                                    <option value="Resolved"></option> -->
                                    <option *ngFor="let option of statusOptions" [value]="option"></option>

                                </datalist>
                                <div class="text-danger" *ngIf="invalidStatus">
                                    no data found
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-6">
                    <div class="row mb-3">
                        <label for="start-date" class="col-md-6 col-form-label">
                            Start Date
                        </label>
                        <div class="row">
                            <div class="col-12">
                                <input type="date" class="form-control" id="start-date" formControlName="startDate">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Priority and Due-Date section -->

            <div class="row">
                <div class="col-6 col-md-6">
                    <div class="row mb-3">
                        <label for="priority" class="col-md-6 col-form-label">
                            Priority
                        </label>
                        <div class="row">
                            <div class="col-12">
                                <input class="form-select" list="priority-option" id="priority"
                                    (input)="validPriority()" formControlName="priority" placeholder="Select Priority">
                                <datalist id="priority-option">
                                    <!-- <option value="Normal"></option>
                                    <option value="Urgent"></option>
                                    <option value="Immediate"></option> -->
                                    <option *ngFor="let option of priorityOptions" [value]="option"></option>

                                </datalist>
                                <div class="text-danger" *ngIf="invalidPriority">
                                    no data found
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-6">
                    <div class="row mb-3">
                        <label for="due-date" class="col-md-6 col-form-label">
                            Due Date
                        </label>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="date" class="form-control" id="due-date" formControlName="dueDate"
                                    [min]="ticketForm.get('startDate')?.value">

                                <!-- <input type="date" class="form-control" id="due-date" formControlName="dueDate"> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- updated date and progress -->

            <div class="row">
                <div class="col-6 col-md-6">
                    <div class="row mb-3">
                        <label for="updatedDate" class="col-md-6 col-form-label">
                            Updated Date
                        </label>
                        <div class="row">
                            <div class="col-12">
                                <input type="date" class="form-control" id="updatedDate" formControlName="updatedDate"
                                    [min]="ticketForm.get('startDate')?.value">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-6">
                    <div class="row mb-3">
                        <label for="progress" class="col-md-6 col-form-label">
                            Progress(%)
                        </label>
                        <div class="row">
                            <div class="col-12">
                                <input type="number" class="form-control" id="progress" formControlName="progress"
                                    placeholder="Enter Your Progress(%)" appPercentageValidation>

                                <!-- oninput="this.value=Math.min(100, Math.max(0, Math.abs(this.value)))" -->


                                <!-- <input type="date" class="form-control" id="due-date" formControlName="dueDate"> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Assignee and Estimated-time section -->

            <div class="row">
                <div class="col-6 col-md-6">
                    <div class="row mb-3">
                        <label for="assignee" class="col-md-6 col-form-label">
                            Assignee
                        </label>
                        <div class="row">
                            <div class="col-12">
                                <input class="form-select" list="assignee-option" id="assignee"
                                    (input)="validAssignee()" formControlName="assignee" placeholder="Select Assignee">
                                <datalist id="assignee-option">
                                    <!-- <option value="Vivek"></option>
                                    <option value="Shivanshu"></option>
                                    <option value="Anuj"></option> -->
                                    <option *ngFor="let option of assigneeOption" [value]="option"></option>


                                </datalist>
                                <div class="text-danger" *ngIf="invalidAssignee">
                                    no data found
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-6">
                    <div class="row mb-3">
                        <label for="estimated-hours" class="col-md-6 col-form-label">
                            Estimate Hours
                        </label>
                        <div class="row">
                            <div class="col-12">
                                <input type="number" class="form-control" id="estimated-hours" min="0"
                                    placeholder="Enter Estimated Hours" formControlName="estimatedHours"
                                    appEstimatedHoursValidation>
                                <!-- oninput="this.value=Math.abs(this.value)" -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <!-- <div class="row mb-2">
                <label for="file-upload" class="col-2 form-label">
                    File:
                </label>
                <div class="col-3">
                    <input type="file" class="form-control" id="file-upload" required formControlName="file">
                </div>
            </div> -->

        </div>
        <div class="mt-3">
            <button class="btn btn-primary" type="submit">
                {{editId ? 'Update Ticket' : 'Save Ticket'}}
                <!-- Save Ticket -->
            </button>
        </div>

    </form>

</div>