<div class="container py-4">

    <!-- Page Header -->

    <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()" autocomplete="off">

        <!-- Ticket Information -->

        <div class="card shadow-sm mb-4">
            <div class="card-header fw-bold">
                <i class="fa-solid fa-ticket ticket-icon"></i>
                Ticket Information
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="tracker">
                            Tracker
                        </label>

                        <!-- <input type="text" class="form-control" readonly list="tracker-option" id="tracker"
                            formControlName="tracker" (input)="validTracker()" placeholder="Select Tracker"
                            data-bs-toggle="modal" data-bs-target="#trackerModel"> -->

                        <input type="text" class="form-control" readonly list="tracker-option" id="tracker"
                            formControlName="tracker" placeholder="Select Tracker" data-bs-toggle="modal"
                            data-bs-target="#trackerModel">

                        <!-- <datalist id="tracker-option">
                            <option *ngFor="let option of trackerOptions" [value]="option">
                            </option>
                        </datalist> -->

                        <!-- OPTION VALIDATION MESSAGE FOR TRACKER -->

                        <!-- <small class="text-danger" *ngIf="invalidTracker">
                            No Data Found
                        </small> -->

                        <!-- VALIDATION MESSAGE FOR TRACKER -->

                        <small class="text-danger" *ngIf="ticketForm.get('tracker')?.touched &&
                                   ticketForm.get('tracker')?.invalid">
                            Tracker is required
                        </small>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="subject">
                            Subject
                        </label>

                        <input type="text" class="form-control" formControlName="subject" id="subject"
                            placeholder="Enter Subject">

                        <!-- VALIDATION MESSAGE FOR SUBJECT -->

                        <small class="text-danger" *ngIf="ticketForm.get('subject')?.touched &&
                                   ticketForm.get('subject')?.invalid">
                            Subject is required
                        </small>
                    </div>
                </div>
                <div>

                    <label class="form-label" for="description">
                        Description
                    </label>

                    <textarea rows="5" class="form-control" id="description" formControlName="description"
                        placeholder="Enter Description">
                    </textarea>

                    <!-- VALIDATION MESSAGE FOR DESCRIPTION -->

                    <small class="text-danger" *ngIf="ticketForm.get('description')?.touched &&
                               ticketForm.get('description')?.invalid">
                        Description is required
                    </small>
                </div>
            </div>
        </div>

        <!-- Assignment -->

        <div class="card shadow-sm mb-4">
            <div class="card-header fw-bold">
                <i class="fa-solid fa-user"></i>
                Assignment & Priority
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label class="form-label" for="status">
                            Status
                        </label>

                        <input type="text" class="form-select" list="status-option" id="status" formControlName="status"
                            (input)="validStatus()" placeholder="Select Status">

                        <datalist id="status-option">
                            <option *ngFor="let status of statusOptions" [value]="status.name">
                            </option>
                        </datalist>

                        <!-- OPTION VALIDATION MESSAGE FOR STATUS -->

                        <small class="text-danger" *ngIf="invalidStatus">
                            No Data Found
                        </small>

                        <!-- VALIDATION MESSAGE FOR STATUS -->

                        <small class="text-danger" *ngIf="ticketForm.get('status')?.touched &&
                                   ticketForm.get('status')?.invalid">
                            Status is required
                        </small>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label class="form-label" for="priority">
                            Priority
                        </label>

                        <input type="text" class="form-select" list="priority-option" id="priority"
                            formControlName="priority" (input)="validPriority()" placeholder="Select Priority">

                        <datalist id="priority-option">
                            <option *ngFor="let priority of priorityOptions" [value]="priority.name">
                            </option>
                        </datalist>

                        <!-- OPTION VALIDATION MESSAGE FOR PRIORITY -->

                        <small class="text-danger" *ngIf="invalidPriority">
                            No Data Found
                        </small>

                        <!-- VALIDATION MESSAGE FOR PRIORITY -->

                        <small class="text-danger" *ngIf="ticketForm.get('priority')?.touched &&
                                   ticketForm.get('priority')?.invalid">
                            Priority is required
                        </small>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label class="form-label" for="assignee">
                            Assignee
                        </label>

                        <input type="text" class="form-select" list="assignee-option" id="assignee"
                            formControlName="assignee" (input)="validAssignee()" placeholder="Select Assignee">

                        <datalist id="assignee-option">
                            <option *ngFor="let assignee of assigneeOption" [value]="assignee.name">
                            </option>
                        </datalist>

                        <!-- OPTION VALIDATION MESSAGE FOR ASSIGNEE -->

                        <small class="text-danger" *ngIf="invalidAssignee">
                            No Data Found
                        </small>

                        <!-- VALIDATION MESSAGE FOR ASSIGNEE -->

                        <small class="text-danger" *ngIf="ticketForm.get('assignee')?.touched &&
                                   ticketForm.get('assignee')?.invalid">
                            Assignee is required
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <!-- Timeline -->

        <div class="card shadow-sm mb-4">
            <div class="card-header fw-bold">
                <i class="fa-solid fa-calendar-days"></i>
                Timeline
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label class="form-label" for="startDate">
                            Start Date
                        </label>

                        <input type="date" class="form-control" id="startDate" formControlName="startDate">

                        <!-- VALIDATION MESSAGE FOR START-DATE -->

                        <small class="text-danger" *ngIf="ticketForm.get('startDate')?.touched &&
                                   ticketForm.get('startDate')?.invalid">
                            Start Date is required
                        </small>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label class="form-label" for="dueDate">
                            Due Date
                        </label>

                        <input type="date" class="form-control" id="dueDate" formControlName="dueDate"
                            [min]="ticketForm.get('startDate')?.value">

                        <!-- VALIDATION MESSAGE FOR DUE-DATE -->


                        <small class="text-danger" *ngIf="ticketForm.get('dueDate')?.touched &&
                                   ticketForm.get('dueDate')?.invalid">
                            Due Date is required
                        </small>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label class="form-label" for="updatedDate">
                            Updated Date
                        </label>
                        <input type="date" class="form-control" id="updatedDate" formControlName="updatedDate"
                            [min]="ticketForm.get('startDate')?.value">
                    </div>
                </div>
            </div>
        </div>

        <!-- Progress -->

        <div class="card shadow-sm mb-4">
            <div class="card-header fw-bold">
                <i class="fa-solid fa-chart-bar"></i>
                Progress & Estimation
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="progress">
                            Progress (%)
                        </label>

                        <input type="number" class="form-control" id="progress" formControlName="progress"
                            appPercentageValidation>

                        <small class="text-danger" *ngIf="ticketForm.get('progress')?.touched &&
                                   ticketForm.get('progress')?.invalid">
                            Progress is required
                        </small>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="estimstedHours">
                            Estimated Hours
                        </label>

                        <input type="number" class="form-control" id="estimstedHours" formControlName="estimatedHours"
                            appEstimatedHoursValidation>

                        <small class="text-danger" *ngIf="ticketForm.get('estimatedHours')?.touched &&
                                   ticketForm.get('estimatedHours')?.invalid">
                            Estimated Hours is required
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="sticky-footer">
            <button type="submit" class="btn btn-primary">
                {{ editId ? 'Update Ticket' : 'Create Ticket' }}
            </button>
        </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="trackerModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Select Tracker</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="list-group">

                        <option class="list-group-item list-group-item-action" *ngFor="let tracker of trackerOptions"
                            (click)="selectTracker(tracker.name)">
                            {{ tracker.name}}
                        </option>

                    </div>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">done</button> -->
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save Tracker</button>
                </div>
            </div>
        </div>
    </div>
</div>